

@{
    ViewBag.Title = "Index";
}
<style>
    .modal-dialog {
        left : 10%;
        right : auto;
        width : 650px;
    }

    .col-md-offset-8 {
        margin-right: 9.666667%;
    }
</style>
<p>
    <a class="btn btn-success" onclick="Create()">افزودن گروه جدید</a>
</p>

<div id="ListProductGrops">
    @Html.Action("ListProductGrops")
</div>

<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    function Create(parentid) {

        $.get("/Admin/ProductGrops/Create/" + parentid,
                function (result) {
                    $(".modal").modal();
                    $(".modal-title").html("  افزودن");
                    $(".modal-body").html(result);
                });
    }

    function Edit(id) {
        $.get("/Admin/ProductGrops/Edit/" + id,
            function (result) {
                $(".modal").modal('show');
                $(".modal-title").html("ویرایش سر گروه");
                $(".modal-body").html(result);
            });
    }

    function Delete(id) {
        if (confirm("آیا از حذف این سر گروه اطمینان دارید؟")) {
            $.get("/Admin/ProductGrops/Delete/" + id,
                function () {
                    $("#Row_" + id).hide('slow');
                });
        }
    }

    function success() {
        $(".modal").modal("hide");
    }
</script>
