@model ProjectShopCMS.DAL.User
@using System.Configuration
@{
    ViewBag.Title = "بازیابی رمز عبور";
}

<div class="container">
    <div class="row">
        <div style="direction : rtl;padding : 30px;background-color:darkgrey;">
            <h1>@Model.UserName عزیز</h1>
            <p>
                جهت بازیابی رمز عبور بر روی لینک
                <a href="@ConfigurationManager.AppSettings["shopSportX"]Account/RecoveryPassword/@Model.ActivationCode">لینک بازیابی رمز عبور</a>
                کلیک کنید
            </p>
        </div>
    </div>
</div>

