@model ProjectShopCMS.DAL.Products
    <div class="col-lg-3 col-md-4 col-6">
        <div class="product">
            <div class="product_img">
                <a href="/showProductDetails/@Model.ProductId">
                    <img style="width:100%;height:150px;" src="~/Images/ProductsImages/MiniProductImage/@Model.ImageName" alt="@Model.ProductTitle">
                </a>
                <div class="product_action_box">
                    <ul class="list_none pr_action_btn">
                        <li class="add-to-cart"><a href="#"><i class="icon-basket-loaded"></i> افزودن به سبد خرید</a></li>
                        <li><a href="shop-compare.html" class="popup-ajax"><i class="icon-shuffle"></i></a></li>
                        <li><a href="shop-quick-view.html" class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                        <li><a href="#"><i class="icon-heart"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="product_info">
                <h6 class="product_title"><a href="/showProductDetails/@Model.ProductId">@Model.ProductTitle</a></h6>
                <div class="product_price">
                    <span class="price">@Model.Price.ToString("#,0") تومان</span>
                    @*<del>55000 تومان</del>
                        <div class="on_sale">
                            <span>٪35 تخفیف</span>
                        </div>*@
                </div>
                <div class="rating_wrap">
                    <div class="rating">
                        <div class="product_rate" style="width:80%"></div>
                    </div>
                    <span class="rating_num">(21)</span>
                </div>

            </div>
        </div>
    </div>
