
@{
    ViewBag.Title = "فعال سازی حساب کاربری";
}

<div class="container">
    <div class="row">
        <div class="alert alert-success">
            <h1>@ViewBag.UserName عزیز</h1>
            <p>حساب کاربری شما با موفقیت فعال شد و از طریق این لینک
            <a href="/">ورود به سایت</a>
            </p>وارد سایت شوید
        </div>
    </div>
</div>

