@model ProjectShopCMS.DAL.User
@{
    ViewBag.Title = "ثبت نام";
}

<div class="container">
    <div class="row">
        <div class="alert alert-success">
            <h1>@Model.UserName ثبت نام شما با موفقیت انجام شد</h1>
            <p>ایمیلی حاوی لینک فعالسازی به ایمیلی با مشخصات @Model.Email ارسال شد لطفا وارد ایمیل خود شود و روی لینک کلیک کنید</p>
        </div>
    </div>
</div>