@model ProjectShopCMS.DAL.User
@{
    ViewBag.Title = "بازیابی رمز عبور";
}

<div class="container">
    <div class="row">
        <div class="alert alert-success">
            <h1>@Model.UserName عزیر</h1>
            <p>ایمیلی حاوی لینک بازیابی رمز عبور به ایمیلی با مشخصات @Model.Email ارسال شد لطفا وارد ایمیل خود شود و روی لینک کلیک کنید</p>
        </div>
    </div>
</div>
